@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Fira+Code:wght@300..700&display=swap");

@import "tailwindcss";

html,
body {
  font-family: "Jost", sans-serif !important;
  background-color: #000000;
  color: #f3f4f6;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  letter-spacing: 1px;
}

nav {
  background-color: #27272a;
  width: 900px;
  margin: 20px auto;
  padding: 0 10px;
  backdrop-filter: blur(10);
  border-radius: 10px;
}

section {
  width: 900px;
  margin: 20px auto;
  /* height: 100vh; */
  /* padding: 20px; */
}

#home {
  background: url("./assets/img.png");
  background-position: center;
  background-size: cover;
  background-color: rgb(0, 0, 0);
}

p {
  line-height: 1.8rem;
  /* word-spacing: 1px; */
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.76);
}

.homeabout {
  line-height: 1.8rem;
  word-spacing: 1px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.664);
}

.yellowcont {
  color: rgb(46, 143, 199);
}

button {
  border-radius: 10px;
  font-weight: bold;
  position: relative;

}

@keyframes neonBorderAnimation {
  0% { border-image-source: linear-gradient(0deg, #ff7300, #ffeb00, #47ff00, #00ff99, #0077ff, #7700ff, #ff00c3, #ff0000); }
  25% { border-image-source: linear-gradient(90deg, #ff7300, #ffeb00, #47ff00, #00ff99, #0077ff, #7700ff, #ff00c3, #ff0000); }
  50% { border-image-source: linear-gradient(180deg, #ff7300, #ffeb00, #47ff00, #00ff99, #0077ff, #7700ff, #ff00c3, #ff0000); }
  75% { border-image-source: linear-gradient(270deg, #ff7300, #ffeb00, #47ff00, #00ff99, #0077ff, #7700ff, #ff00c3, #ff0000); }
  100% { border-image-source: linear-gradient(360deg, #ff7300, #ffeb00, #47ff00, #00ff99, #0077ff, #7700ff, #ff00c3, #ff0000); }
}

.neon-button {
  font-size: 1rem;
  color: #fff;
  background: transparent;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: 0.4s ease-in-out;
  overflow: hidden;
  border-image: linear-gradient(45deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ff99, #0077ff, #7700ff, #ff00c3, #ff0000) 1;
  animation: neonBorderAnimation 3s infinite linear;
}



.rowskill h2 {
  padding: 10px;
  background-color: #222222;
  margin: 10px;
  border-radius: 10px;
  font-weight: bold;
  line-height: 1.8rem;
  word-spacing: 1px;
  font-size: 1rem;
}

.rowskill > h2 > i {
  font-size: 2rem;
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #50505038;
  border-radius: 10px;
  padding: 30px 60px;
  @apply text-4xl md:text-4xl text-gray-300 transition-transform transform 
         hover:scale-110;
}

#projects p {
  color: gray;
  line-height: 1.3rem;
  /* word-spacing: 1px; */
  font-size: 1rem;
}

#projects img {
  opacity: 0.7;
}

#projects img:hover {
  opacity: 1;
}

footer {
  background: url("./assets/img.png");
  background-position: center;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  width: 900px;
  margin: 0px auto;
}

.social-links > a > i {
  font-size: 25px;
  padding: 10px;
  background-color: rgb(31, 31, 31);
  margin: 5px;
  color: #d6d6d6;
  border-radius: 10px;
}

input,textarea{
  outline: none;
}

@media (max-width: 768px) {
  p {
    font-size: 15px;
  }
  nav {
    max-width: 350px;
    padding: 0 10px;
  }
  section {
    max-width: 350px;
    margin: 20px auto;
    /* height: 100vh; */
    padding: 10px;
  }
  .homeabout {
    font-size: 15px;
  }
  #projects p {
    color: gray;
    line-height: 1.3rem;
    /* word-spacing: 1px; */
    font-size: 15px;
  }
  footer {
    max-width: 350px;
    padding: 70px 10px;
  }
  .skill-icon {
    padding: 30px;
  }
}
